/* Estilos generales */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
}

/* Contenedor principal de la App */
.App {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Titulos */
h1,
h2 {
  color: #333;
}

/* Estilos del formulario */
form {
  margin-bottom: 20px;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

/* Contenedores de elementos del formulario */
form div {
  margin-bottom: 10px;
}

/* Etiquetas del formulario */
form label {
  display: block;
  margin-bottom: 5px;
}

/* Entradas del formulario */
form input[type="text"],
form input[type="number"],
form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Botones */
button {
  cursor: pointer;
  padding: 8px 10px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #005a87;
  text-transform: uppercase;
  font-size: 14px;
}

/* Cambio de color al pasar el mouse por encima de los botones */
button:hover {
  background-color: #003d5b;
}

/* Estilos de Producto */
.producto-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}

/* Botón de editar producto */
.editar-button {
  background-color: #007bff; 
  color: #fff; 
  border: none;
  padding: 5px 10px;
  margin-right: 5px; 
}

/* Boton de eliminar producto */
.eliminar-button {
  background-color: #ff0000; 
  color: #fff; 
  border: none;
  padding: 5px 10px;
}

/* Estilos para el contenedor de los filtros */
.filtro-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Estilos para cada elemento de filtro */
.filtro-item {
  flex: 1; 
  margin-right: 10px; 
}

/* Estilos para los selects e inputs de filtro */
.filtro-select,
.filtro-input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
